h1.uno {
    /* Titulo con enlace a ppal*/
    font-family: "Courier Prime";
    font-size: 4vw;
    font-weight: Bold;
    text-align: center;
    margin-top: 20%;
    margin-left: 13%;
}

h1.dos {
    /* Titulo con enlace a ppal*/
    font-family: "Courier Prime", 'Courier New', Courier, monospace;
    font-size: 3.5vw;
    font-weight: bold;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 5%;
    margin-left: 0%;
}

h1.tres {
    /* Titulo con enlace a ppal*/
    font-family: "Courier Prime", 'Courier New', Courier, monospace;
    font-size: 3.5vw;
    font-weight: bold;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 0%;
    margin-left: 0%;
}

h2.uno {
    /* Titulo con enlace a ppal*/
    font-family: "Courier Prime", 'Courier New', Courier, monospace;
    font-size: 3.5vw;
    font-weight: bold;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 5%;
    margin-left: 0%;
}

h6.uno {
    /* SubTitulo con enlace a paginas */
    font-family: "Courier Prime", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5vw;
    font-weight: bold;
    text-align: center;
    margin-top: 10%;
    margin-right: 13%;
}

h6.centro {
    /* SubTitulo */
    font-family: "Courier Prime", Arial, Helvetica, sans-serif;
    font-size: 1.6vw;
    font-weight: bold;
    text-align: center;
}

h6.bajo1 {
    /* SubTitulo */
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
    font-size: 1.9vw;
    font-weight: bold;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 2%;
}

h6.bajo2 {
    /* SubTitulo */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7vw;
    font-weight: normal;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 2%;
}

a.enlace {
    font-style: normal;
    color: black;
    text-decoration: none;
}

p.uno {
    font-family: "Courier Prime", monospace, Arial, Helvetica, sans-serif;
    font-size: 1.4vw;
    font-weight: normal;
    text-align: end;
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 13%;
}

p.dos {
    font-family: "Courier Prime", monospace, Arial, Helvetica, sans-serif;
    font-size: 1vw;
    font-weight: normal;
    text-align: center;
    margin-top: 5%;
    margin-right: 13%;
}

p.centro1 {
    font-family: "Courier Prime", monospace, Arial, Helvetica, sans-serif;
    font-size: 1vw;
    font-weight: normal;
    text-align: center;
}

p.centro2 {
    font-family: "Courier Prime", monospace, Arial, Helvetica, sans-serif;
    font-size: 1.2vw;
    font-weight: normal;
    text-align: center;
}

p.bajo1 {
    font-family: 'Times New Roman', Times, serif, Arial, Helvetica, sans-serif;
    font-size: 1.4vw;
    font-weight: normal;
    font-style: oblique;
    text-align: center;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

p.bajo2 {
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

p.bajo3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', Verdana, sans-serif;
    font-size: 1.3vw;
    font-weight: normal;
    font-style: italic;
    text-align: center;
    margin-bottom: 3%;
    margin-left: 5%;
    margin-right: 5%;
}

div.topcontainer {
    border: black;
    background-color: rgb(255, 242, 204);
}

div.middlecontainer {
    border: black;
    background-color: rgb(250, 217, 213);
}

div.bottomcontainer {
    border: black;
    background-color: rgb(249, 247, 237);
}

.responsive-width {
    font-size: 1.7vw;
}

.responsive-width-busca {
    font-size: 1.4vw;
}

div.ccontacto {
    text-align: center;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 2.25%;
    margin-bottom: 2%;
}

div.datcard {
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 15vw;
}

div.incardpos {
    justify-content: center;
    align-items: center;
}